In [47]:
import pandas as pd

b20a_df= pd.read_csv("Listing-boone-06-01-2020-12-31-2020.csv")
b20b_df= pd.read_csv("single-line-boone-06-01-2020-12-31-2020.csv")

b19a_df= pd.read_csv("Listing-boone-06-01-2019-12-31-2019.csv")
b19b_df= pd.read_csv("single-line-boone-06-01-2019-12-31-2019.csv")

ha19a_df= pd.read_csv("Listing-hamilton-06-01-2019-12-31-2019.csv")
ha19b_df= pd.read_csv("single-line-hamilton-06-01-2019-12-31-2019.csv")

ha20a_df= pd.read_csv("Listing-hamilton-06-01-2020-07-31-2020.csv")
ha20b_df= pd.read_csv("Listing-hamilton-08-01-2020-12-31-2020.csv")
ha20c_df= pd.read_csv("single-line-hamilton- 06-01-2020-07-31-2020.csv")
ha20d_df= pd.read_csv("single-line-hamilton-08-01-2020-12-31-2020.csv")

hk19a_df= pd.read_csv("Listing-hancock-06-01-2019-12-31-2019.csv")
hk19b_df= pd.read_csv("single-line-hancock-06-01-2019-12-31-2019.csv")

hk20a_df= pd.read_csv("Listing-hancock-06-01-2020-12-31-2020.csv")
hk20b_df= pd.read_csv("single-line-hancock-06-01-2020-12-31-2020.csv")

he19a_df= pd.read_csv("Listing-hendricks-06-01-2019-12-31-2019.csv")
he19b_df= pd.read_csv("single-line-hendricks-06-01-2019-12-31-2019.csv")

he20a_df= pd.read_csv("Listing-hendricks-06-01-2020-12-31-2020.csv")
he20b_df= pd.read_csv("single-line-hendricks-06-01-2020-12-31-2020.csv")

# _df= pd.read_csv("Listing-johnson-06-01-2019-12-31-2019.csv")
# _df= pd.read_csv("single-line-johnson-06-01-2019-12-31-2019.csv")

# _df= pd.read_csv("Listing-johnson-06-01-2020-12-31-2020.csv")
# _df= pd.read_csv("single-line-johnson-06-01-2020-12-31-2020.csv")

# _df= pd.read_csv("Listing-marion-06-01-2019-08-31-2019.csv")
# _df= pd.read_csv("Listing-marion-09-01-2019-11-30-2019.csv")
# _df= pd.read_csv("Listing-marion-11-01-2019-12-31-2019.csv")
# _df= pd.read_csv("single-line-marion-06-01-2019-08-31-2019.csv")
# _df= pd.read_csv("single-line-marion-09-01-2019-11-30-2019.csv")
# _df= pd.read_csv("single-line-marion-11-01-2019-12-31-2019.csv")

# _df= pd.read_csv("Listing-marion-06-01-2020-08-31-2020.csv")
# _df= pd.read_csv("Listing-marion-09-01-2020-11-30-2020.csv")
# _df= pd.read_csv("Listing-marion-11-01-2020-12-31-2020.csv")
# _df= pd.read_csv("single-line-marion-06-01-2020-08-31-2020.csv")
# _df= pd.read_csv("single-line-marion-09-01-2020-11-30-2020.csv")
# _df= pd.read_csv("single-line-marion-11-01-2020-12-31-2020.csv")


boone_19 = pd.merge(b19a_df, b19b_df, left_on='MLSNumber', right_on='BLC # ')
boone_20 = pd.merge(b20a_df, b20b_df, left_on='MLSNumber', right_on='BLC # ')

hamilton_19 = pd.merge(ha19a_df, ha19b_df, left_on='MLSNumber', right_on='BLC # ')

hamilton_201 = pd.concat([ha20a_df, ha20b_df])
hamilton_202 = pd.concat([ha20c_df, ha20d_df])

hamilton_20 = pd.merge(hamilton_201, hamilton_202, left_on='MLSNumber', right_on='BLC # ')

hancock_19 = pd.merge(hk19a_df, hk19b_df, left_on='MLSNumber', right_on='BLC # ')
hancock_20 = pd.merge(hk20a_df, hk20b_df, left_on='MLSNumber', right_on='BLC # ')

hendricks_19 = pd.merge(he19a_df, he19b_df, left_on='MLSNumber', right_on='BLC # ')
hendricks_20 = pd.merge(he20a_df, he20b_df, left_on='MLSNumber', right_on='BLC # ')

,MLSNumber,NewConstructionYN,PropertyType,PropertySubType,StreetNumberAlpha,StreetName,ListAgentFullName,CoListAgentFullName,OriginalListPrice,ListPrice,...,Subdivision,# Fireplaces,Lvls,Gar,# of Garage Spaces,Sq Ft Main Upper,Basement,Total Sq Ft,DOM,List Office MLSID
0,21734971,NaN,Residential,Single Fam,NaN,Ballard,Damon Stafford,NaN,250000.0,257500,...,BRANCHES,0,1LEVL,ATTACH,2,"2,148",No,"2,148",131,REAR04
1,21757755,NaN,Residential,Single Fam,NaN,Prelude,Jonathan Bell,Scott White,390840.0,390840,...,CADENCE,1,2LEVL,ATTACH,3,"3,063",No,"3,063",38,RISE01
2,21745098,NaN,Residential,Condo,NaN,Quail Creek Tr N.,Robert R. Kiefer,NaN,289900.0,289900,...,QUAIL CREEK ESTATES,0,1LEVL,ATTACH,2,"1,671",No,"1,671",108,CSRG04
3,21755180,NaN,Residential,Single Fam,NaN,Woodridge,Jamie Hall,Lea K. Grove,415000.0,407900,...,WOODRIDGE COMMONS,1,1HALF,ATTACH,3,"2,230",No,"2,230",58,CARP12
4,21751918,NaN,Residential,Single Fam,NaN,County Road 1000,Lisa M. Reynolds,NaN,1000000.0,935000,...,NO SUBDIVISION,1,2LEVL,ATTACH,3,"3,993",Yes,"5,903",74,TPSH01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2413,21732852,NaN,Residential,Single Fam,NaN,US Highway 136,Marcus Dugan,NaN,175000.0,175000,...,NO SUBDIVISION,0,1LEVL,DETATCH,2,"1,512",No,"1,512",3,CARP12
2414,21709021,NaN,Residential,Single Fam,NaN,County Road 1000,Debbie McMillan,NaN,200000.0,189900,...,NORTH TRINITY HEIGHTS,1,1LEVL,DETATCH,2,"1,780",Yes,"3,560",6,KWIN15
2415,21734256,NaN,Residential,Single Fam,NaN,STATE ROAD 39,Randy Worrell,NaN,225000.0,225000,...,FOREST ESTATE,1,1LEVL,ATTACH,2,"1,327",No,"1,327",3,REMD01
2416,21703069,NaN,Residential,Single Fam,NaN,State Road 39,Abbey Richardson,NaN,269000.0,269000,...,NO SUBDIVISION,0,1LEVL,ATTACH,2,"1,610",No,"1,610",52,RIRC01
2417,21758145,NaN,Residential,Single Fam,NaN,COUNTY ROAD 75 W,Melissa L. Baker,NaN,275000.0,275000,...,FOREST ESTATE,1,1LEVL,"ATTACH,DETATCH,MULTI",2,"1,523",No,"1,523",1,GRTR01